@import "variables";

body {
  background-color: $brand-lightgrey;
}

#silla-interactive-container {
  font-size: 16px;
  line-height: 1.5;
}

.index {
  max-width: $screen-lg-min;
  margin: 1em auto;
  padding: 0 1em 2em;
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

  &__title {
    text-align: center;
    margin: 0 -16px;
    color: $brand-white;
    background-color: $brand-grey;
    padding: 0.5em;
  }

}
