@import "variables";

body {
  background-color: $brand-lightgrey;
}

#silla-interactive-container {
  font-size: 16px;
  line-height: 1.5;
}

.index {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 0 2em;
  position: relative;
  background-color: #fff;
  overflow: hidden;

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    border-bottom: 1px solid $brand-grey;
    background-color: $brand-color;
    color: $brand-white;
    margin: 0;
    padding: 0.75em;
    font-weight: 600;
    border-color: $brand-white;
    text-align: right;
  }

  &__question-counter {
    position: absolute;
    font-family: 'Georgia', "Times New Roman", serif;
    font-size: 1.75em;
    right: 1em;
    color: $brand-lightgrey-dark;
    line-height: 0.7;
    font-weight: lighter;
    margin-top: 1em;
  }

  &__switch {
    margin-top: .25em;
    font-style: italic;
    font-size: .75em;
    text-align: right;
  }

}
