@import "variables";

body {
  background-color: $brand-lightgrey;
}

#silla-interactive-container {
  font-size: 16px;
  line-height: 1.5;
}

.index {
  max-width: $screen-lg-min;
  margin: 0 auto;
  padding: 0 1em 2em;
  position: relative;
  background-color: #fff;
  overflow: hidden;

  &__title {
    color: $text-color;
    padding: 1em 0 0.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2em;
    border-bottom: 1px solid $brand-grey;
    margin: 0.75em;
  }

}
