@import "variables";

.PrevNext {
  padding: 1em;


  &--compact {
    padding: 0.35em 0;
    text-align: right;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $breakpoint) {
      display: none;
    }
  }

  &--overlay {
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    @media screen and (max-width: $breakpoint) {
      font-size: 1.2em;
      margin-top: -2.75em;
      width: calc(100% - 2.75em);
    }
  }

  &--compact .PrevNext__button {
    background: none;
    border: none;
    font-family: 'Georgia', "Times New Roman", serif;
    color: $brand-lightgrey-dark;
    position: absolute;
    &--next {
      right: 0;
    }
    &--prev {
      right: 1.25em;
    }
  }

  &__button {
    background: $brand-white;
    border: 1px solid $theme-color;
    border-radius: 3px;
    color: $theme-color;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;

    &--next {
      float: right;
    }
  }
}
