@import "variables";

.PrevNext {
  padding: 1em;

  &--compact {
    padding: 0.2em 0;
    text-align: right;
  }

  &--compact .PrevNext__button {
    background: none;
    border: none;
    font-family: 'Georgia', "Times New Roman", serif;
    color: $brand-lightgrey-dark;
  }

  &__button {
    background: $brand-white;
    border: 1px solid $brand-color;
    border-radius: 3px;
    color: $brand-color;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;

    &--next {
      float: right;
    }
  }
}
