@import "variables";

.PrevNext {
  padding: 1em;

  &__button {
    background: $brand-white;
    border: 1px solid $brand-color;
    border-radius: 3px;
    color: $brand-color;
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;

    &--next {
      float: right;
    }
  }
}
