@import "variables";

.ReportCard {
  padding-top: 1.5em;
  text-align: center;

  &__social {
    margin-top: 2em;
  }

  &__social-btn {
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;
    background: #fff;
    border: 1px solid $theme-color;
    border-radius: 3px;
    color: $theme-color;
    text-transform: uppercase;
    margin: 1em;
    transition: background-color 0.2s, color 0.2s;
  }

  h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
  }

  img {
    padding: 0;
  }

  .row {
    margin: 0 0 1em;
    .col-sm-6 {
      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
    .col-sm-12 {
      padding: 0;
    }
  }

  &__footer {
    text-align: center;
  }

  &__results {
    background-color: $brand-lightgrey;
    border-radius: 3px;
    overflow: hidden;
    max-width: 28em;
    > thead {
      background-color: $brand-color;
      color: $brand-white;
      >tr {
        > th {
          border: 0;
        }
      }
    }
    td {
      h4 {
        margin-top: 0;
        font-size: 1em;
        line-height: 1.5;
        &:before,
        &:after {
          content: '"';
        }
      }
    }
  }

  .leaderboard-table {
    //margin-top: 1em;
    font-size: .75em;

    th {
      text-transform: uppercase;
      font-family: 'Lato', Helvetica, sans-serif;
      font-weight: 700;
      color: $brand-white;
      background-color: $theme-color;
      border: 0;
    }
  }

  .col-sm-6 {
    text-align: left;
  }

  &__form {
    background-color: rgba(0,144,150,.1);
    padding: .5em 1em .75em;
    border-radius: 10px;
    margin-bottom: 1em;

    &__group {
      display: flex;
      justify-content: space-between;
    }

    & input[type="text"] {
      flex-grow: 1;
      border: 1px solid $theme-color;
      padding: 0 .5em;
    }

    & input[type="submit"] {
      background-color: $theme-color;
      border: 0;
      color: $brand-white;
      margin-left: .5em;
      font-family: 'Lato', Helvetica, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: .75em;
    }
  }

  &__table--scroll {
    max-height: 20em;
    overflow: scroll;
  }

  .table {
    margin-bottom: 0;
  }

  .PrevNext__button {
    float: left;
  }
}
