$brand-color: #44a5db;
$brand-grey: #6f7372;
$brand-lightgrey: #F8F8F8;
$brand-lightgrey-dark: #979797;
$brand-black: #2d3132;
$brand-white: #fff;
$text-color: var($brand-black);
$font-family-base: 'Roboto', Helvetica, sans-serif;
$font-family-display: 'Roboto Slab', Georgia, sans-serif;
$font-family-serif: 'Georgia', Times new roman, serif;
$max-content-width: 60em;
$transition-duration: 0.2s;

/*
 * Layout
 * ======================================================================== */

/* $max-content-width: 1000px; */

/*
 * Media queries breakpoints
 * ======================================================================== */

$screen-xs-min: 30rem;  /* Extra small screen / phone */
$screen-sm-min: 48rem;  /* Small screen / tablet */
$screen-md-min: 64rem;  /* Medium screen / desktop */
$screen-lg-min: 75rem; /* Large screen / wide desktop */
