@import "variables";

.VoteArea {
  position: relative;
  padding: 1em 2.75em 1.5em;
  background-color: #F3F7FA;
  transition: $transition-duration;
  margin: 0 -1.5em 1em;
  border-left: 1px solid $brand-white;
  border-right: 1px solid $brand-white;
  @media screen and (max-width: $breakpoint) {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 3em;
  }

  &::before {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: $transition-duration 1s;
  }

  &--show-result {
    transition-delay: 1s;
    &::before {
      opacity: 1;
    }
  }

  $intencity: 0.25;
  &--score-0 {
    background-color: rgba(67, 160, 71, $intencity);
    &::before {
      background-image: url('../images/emojis/score-0.svg');
    }
  }

  &--score-1 {
    background-color: rgba(161, 181, 55, $intencity);
    &::before {
      background-image: url('../images/emojis/score-1.svg');
    }
  }

  &--score-2 {
    background-color: rgba(255, 202, 40, $intencity);
    &::before {
      background-image: url('../images/emojis/score-2.svg');
    }
  }

  &--score-3 {
    background-color: rgba(247, 174, 41, $intencity);
    &::before {
      background-image: url('../images/emojis/score-3.svg');
    }
  }

  &--score-4 {
    background-color: rgba(233, 125, 43, $intencity);
    &::before {
      background-image: url('../images/emojis/score-4.svg');
    }
  }

  &--score-5 {
    background-color: rgba(211, 47, 47, $intencity);
    &::before {
      background-image: url('../images/emojis/score-5.svg');
    }
  }

  &--score-6 {
    background-color: rgba(153, 0, 0, $intencity);
    &::before {
      background-image: url('../images/emojis/score-6.svg');
    }
  }

  &__title {
    margin-bottom: 1em;
    //font-size: calc(1em + 1vmin);
    color: $brand-lightgrey-dark;
    font-weight: 500;
  }

  &__form-container {
    position: relative;
  }

  &__slide {
    width: calc(100% - 2.5em);
    height: .25em;
    background-image: linear-gradient(90deg, $good-green 0%, #FFCA28 50%, $wrong-red 82.5%, $brand-lightgrey-dark 82.5%);
    position: absolute;
    top: $buttonSize / 2;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all $transition-duration;
    border-radius: $buttonSize;
    overflow: hidden;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      transition: $transition-duration * 2;
      opacity: 0;
    }

    &--small {
      height: 1px;
      width: 100%;
      transition-delay: 1s;
      &::before {
        width: 100%;
        background-color: $brand-lightgrey-dark;
        transition-delay: 1s;
        opacity: 1;
      }
    }

    @media screen and (max-width: $breakpoint) {
      width: $mobileButtonsSize;
      height: calc(100% - 3.5em);
      background-image: linear-gradient(180deg, $good-green 0%, #FFCA28 50%, $wrong-red 100%);
      transform: inherit;
      top: 0;
      left: 0;
    }
  }

  &__button-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0 1.5em 0;
    margin: 0 auto;
    transition: .4s 0s;
    width: 100%;
    max-width: 44em;
    line-height: 0.5;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
      padding-bottom: 0.5em;
    }

    &--small {
      width: $buttonSize;
      transition-delay: $transition-delay;

      @media screen and (max-width: $breakpoint) {
        width: inherit;
      }
    }
  }

  &__list-item {
    opacity: 1;
    width: $buttonSize;
    height: $buttonSize * 1.25;
    transition: $transition-duration;

    @media screen and (max-width: $screen-md-min) {
      width: $mobileButtonsSize;
      height: $mobileButtonsSize * 1.25;
    }
    &--hidden {
      opacity: 0;
      width: 0;
      height: 0;
      transition-delay: $transition-delay;
      .VoteButton {
        cursor: default;
      }
    }
  }

  &__footer {
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;
    transition: $transition-duration * 2;
    small {
      display: block;
    }
  }

  &__footer--hidden {
    opacity: 0;
    margin-top: -4em;
    transition-delay: $transition-delay;
  }

  &__footer--this-is-it {
    margin-top: -5.55em;
    transition-delay: $transition-delay;
    position: relative;
    small {
      opacity: 0;
    }
  }

  &__button {
    background: #fff;
    border: 1px solid $brand-lightgrey-dark;
    border-radius: 3px;
    color: $brand-lightgrey-dark;
    text-transform: uppercase;
    margin-top: 1em;
    transition: background-color $transition-duration, color $transition-duration;
    @media screen and (max-width: $breakpoint) {
      text-align: left;
    }

    &:focus {
      outline: none;
    }

    &--selected,
    &--this-is-it {
      background-color: $brand-color;
      color: $brand-white;
    }

    &--this-is-it {
      margin-top: 0;
    }
  }
}
