@import "variables";

.VoteArea {
  position: relative;
  padding: 0 0 1.5em;

  &__title {
    margin-bottom: 1em;
    //font-size: calc(1em + 1vmin);
    color: $theme-color;
    font-weight: 500;
  }

  &__form-container {
    position: relative;
    background-color: rgba(0,144,150,.1);
    padding: 1em 2.5em 2em;
    border-radius: 10px;
    transition: $transition-duration;

    @media screen and (max-width: $breakpoint) {
      padding: 1em;
    }

    &::before {
      content: '';
      width: 2em;
      height: 2em;
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0;
      transition: $transition-duration 1s;
    }
  }

  $intencity: 0.25;
  &--score-0 {
    background-color: rgba(68, 160, 71, $intencity);
    &::before {
      background-image: url('../images/emojis/score-0.svg');
    }
  }

  &--score-1 {
    background-color: rgba(122, 172, 62, $intencity);
    &::before {
      background-image: url('../images/emojis/score-1.svg');
    }
  }

  &--score-2 {
    background-color: rgba(162, 182, 56, $intencity);
    &::before {
      background-image: url('../images/emojis/score-2.svg');
    }
  }

  &--score-3 {
    background-color: rgba(198, 189, 49, $intencity);
    &::before {
      background-image: url('../images/emojis/score-3.svg');
    }
  }

  &--score-4 {
    background-color: rgba(239, 198, 43, $intencity);
    &::before {
      background-image: url('../images/emojis/score-4.svg');
    }
  }

  &--score-5 {
    background-color: rgba(250, 285, 41, $intencity);
    &::before {
      background-image: url('../images/emojis/score-5.svg');
    }
  }

  &--score-6 {
    background-color: rgba(241, 155, 42, $intencity);
    &::before {
      background-image: url('../images/emojis/score-6.svg');
    }
  }

  &--score-7 {
    background-color: rgba(233, 126, 43, $intencity);
    &::before {
      background-image: url('../images/emojis/score-6.svg');
    }
  }

  &--score-8 {
    background-color: rgba(225, 95, 45, $intencity);
    &::before {
      background-image: url('../images/emojis/score-6.svg');
    }
  }

  &--score-9 {
    background-color: rgba(212, 51, 51, $intencity);
    &::before {
      background-image: url('../images/emojis/score-6.svg');
    }
  }

  &--show-result {
    transition-delay: 1s;
    padding-bottom: 1em;
    &::before {
      opacity: 1;
    }
  }

  &__slide {
    width: calc(100% - 5em);
    height: .25em;
    background-image: linear-gradient(90deg, $good-green 0%, #FFCA28 50%, $wrong-red 82.5%, $brand-lightgrey-dark 82.5%);
    position: absolute;
    top: ($buttonSize / 2) + 1;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all $transition-duration;
    border-radius: $buttonSize;
    overflow: hidden;

    &::before {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      transition: $transition-duration * 2;
      opacity: 0;
    }

    &--small {
      height: 1px;
      width: calc(100% - 10em);
      transition-delay: 1s;
      &::before {
        width: 100%;
        background-color: $brand-lightgrey-dark;
        transition-delay: 1s;
        opacity: 1;
      }
    }

    @media screen and (min-width: 992px) and (max-width: $breakpoint) {
      width: calc(100% - 7em);
    }

    @media screen and (max-width: $breakpoint) {
      width: $mobileButtonsSize;
      height: calc(100% - 3.5em);
      background-image: linear-gradient(180deg, $good-green 0%, #FFCA28 50%, $wrong-red 100%);
      transform: inherit;
      top: 1em;
      left: 1em;
    }
  }

  &__button-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    transition: .4s 0s;
    width: 100%;
    //max-width: 44em;
    line-height: 0.5;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
      padding-bottom: 0.5em;
    }

    &--small {
      width: $buttonSize;
      transition-delay: $transition-delay;

      @media screen and (max-width: $breakpoint) {
        width: inherit;
      }
    }
  }

  &__list-item {
    opacity: 1;
    width: $buttonSize;
    height: $buttonSize * 1.25;
    transition: $transition-duration;

    @media screen and (max-width: $screen-md-min) {
      width: $mobileButtonsSize;
      height: $mobileButtonsSize * 1.25;
    }
    &--hidden {
      opacity: 0;
      width: 0;
      height: 0;
      transition-delay: $transition-delay;
      .VoteButton {
        cursor: default;
      }
    }
  }

  &__footer {
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 700;
    font-size: .75em;
    transition: $transition-duration * 2;
    small {
      display: block;
    }
  }

  &__footer--hidden {
    opacity: 0;
    margin-top: -4em;
    transition-delay: $transition-delay;
  }

  &__footer--this-is-it {
    margin-top: -5.55em;
    transition-delay: $transition-delay;
    position: relative;
    small {
      opacity: 0;
    }
  }

  &__button {
    background: #fff;
    border: 1px solid $brand-lightgrey-dark;
    border-radius: 3px;
    color: $brand-lightgrey-dark;
    text-transform: uppercase;
    margin-top: 1em;
    transition: background-color $transition-duration, color $transition-duration;
    @media screen and (max-width: $breakpoint) {
      text-align: left;
    }

    &:focus {
      outline: none;
    }

    &--selected,
    &--this-is-it {
      background-color: $brand-color;
      color: $brand-white;
    }

    &--this-is-it {
      margin-top: 0;
    }
  }
}
