@import "variables";

.VoteButton {
  background-color: $brand-white;
  border: 1px solid $brand-color;
  border-radius: $buttonSize;
  width: $buttonSize;
  height: $buttonSize;
  padding: 0;
  position: relative;
  transition: top $transition-delay;
  @media screen and (max-width: $breakpoint) {
    width: $mobileButtonsSize;
    height: $mobileButtonsSize;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 1px solid $brand-color;
    border-radius: $innerButtonSize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: $transition-duration;
    opacity: 0;
  }

  &:focus,
  &--selected {
    outline: none;
    &::before {
      width: $innerButtonSize;
      height: $innerButtonSize;
      opacity: 1;
    }
  }

  &--selected {
    //transform: scale(1.2);
    color: $brand-color;
    animation: blink 0.6s;
    &::before {
      background-color: $brand-color;
      animation: blinkBg 0.6s;
    }
  }

  &--this-is-it {
    color: #00FF99;
    transition-delay: 0.6s;
    cursor: default;
    .VoteButton__content {
      top: 0;
      color: $brand-white;
      background-color: $theme-color;
      text-transform: uppercase;
      font-size: 11px;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 8px 20px;
      border-radius: 16px;
      letter-spacing: 2px;
      transform: translateX(-50%) translateY(-20%);
      transition-delay: $transition-delay;

      .VoteButton__showDescription {
        display: none;
      }

      @media screen and (max-width: $screen-md-min) {
        left: 0;
        padding: 10px 20px;
      }

      @media screen and (max-width: $breakpoint) {
        transform: translateX(0) translateY(-20%);
      }
    }
  }

  &__this-is-it .Vote-button__content {
    top: 0;
  }

  &__content {
    position: absolute;
    left: 50%;
    white-space: nowrap;
    transition: $transition-duration 0s;
    transform: translateX(-50%);
    top: 1.5em;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    color: black;
    display: inline-block;

    @media screen and (max-width: 1090px) and (min-width: 992px) {
      font-size: .9em;
    }

    @media screen and (max-width: $breakpoint) {
      position: relative;
      top: 0;
      left: 2.5em;
      transform: inherit;
    }

    &:hover .VoteButton__description {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__showDescription {
    width: 1.25em;
    height: 1.25em;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;

    @media screen and (min-width: $breakpoint) {
      display: none;
    }
  }

  &__description {
    display: block;
    opacity: 0;
    border-radius: 3px;
    width: 20em;
    padding: 1em;
    white-space: normal;
    background-color: #ddd;
    visibility: hidden;
    transition: .2s;
    transform: translateY(-2em);
    pointer-events: none;
    text-align: left;
    left: 0;
    position: absolute;
    z-index: 5;
  }
}

@keyframes blink {
  0% {
    color: $text-color;
  }
  10% {
    color: $brand-color;
  }
  20% {
    color: $text-color;
  }
  30% {
    color: $brand-color;
  }
  40% {
    color: $text-color;
  }
  50% {
    color: $brand-color;
  }
  60% {
    color: $text-color;
  }
  60% {
    color: $brand-color;
  }
  80% {
    color: $text-color;
  }
  90% {
    color: $brand-color;
  }
  100% {
    color: $text-color;
  }
}

@keyframes blinkBg {
  0% {
    background-color: $text-color;
  }
  10% {
    background-color: $brand-color;
  }
  20% {
    background-color: $text-color;
  }
  30% {
    background-color: $brand-color;
  }
  40% {
    background-color: $text-color;
  }
  50% {
    background-color: $brand-color;
  }
  60% {
    background-color: $text-color;
  }
  60% {
    background-color: $brand-color;
  }
  80% {
    background-color: $text-color;
  }
  90% {
    background-color: $brand-color;
  }
  100% {
    background-color: $text-color;
  }
}
